<div class="col-md-2 col-sm-12"></div>
<div class="col-md-8 col-sm-12">
	
	
   <h2>Voter Verification and Token Generation</h2>
   <div class="col-md-2 col-sm-12"></div>
   <div class="col-md-8 col-sm-12" style="margin-top: 20%">
   	<img src="/assets/spinner.gif" class="hidden loader" style="margin-top: ">
   		
   		<% if flash[:notice] %>
           <p class="alert alert-danger" id = 'notes' style = "margin-top: -10%; font-weight: bold"><%= notice %></p>
       <% end %>
    	<!-- <% if flash[:notice] %>
		   <p class="flash_notice" id = 'notes' style = "margin-top: 5px"><%= notice %></p>
		 <% end %> -->
		 
		 
   	  <%= form_tag verify_voter_path, method: :get,  input_html:{display:"block"} do %>
		   <input id="voter_id" class="w3-input w3-border w3-round form-control w3-light-gray"  name="voter_id"  placeholder="Enter Voter ID" style="font-size: 25px" required=""/>    
		   <br />
		   <input type="submit" id="search-field2" class="w3-button w3-blue w3-round-xxlarge w3-hover-blue " value="Verify"  />
		  
     <%end%>
   </div>
   <div class="col-md-2 col-sm-12"></div>
   
</div>

<div class="col-md-2 col-sm-12"></div>
 

<script type="text/javascript">
	$("#search-field2").click(function(){
	 voter_id = document.getElementById('voter_id').value;
	 // alert(voter_id)
	if(voter_id != null && voter_id != ""){
		$(".loader").removeClass("hidden");
	}
		
	});
	
</script>

