<% if current_user.role.name !=  'Super Admin' %>
     <script type="text/javascript">
        window.location.href="/verification_page/index"  // put your correct path in a string here
     </script>
     
    <p class="alert alert-danger"> <%= flash[:danger] = "Sorry, you are not permitted to access the requested page!"%></p>
<%end%>
<div class="container" id = "page-container" >
	  <% if flash[:notice] %>
		 <p class="flash_notice " id = 'notes' style = "margin-top: 5px"><%= notice %></p>
	  <% end %>
	  
	<h1>Home#index</h1>
	<p>Find me in app/views/home/index.html.erb</p>
	
</div>