<% if current_user %>
     <script type="text/javascript">
        window.location.href="/home/index"  // put your correct path in a string here
     </script>
     
  <!-- <p class="alert alert-danger"> <%= flash[:danger] = "Sorry, you are not permitted to access the requested page!"%></p> -->
<%end%>
<br />
<div class="container-fluid">
	<div class="col-md-2 col-sm-12"></div>	
	
	<div class="col-md-8 col-sm-12" >	
		<% if flash[:notice] %>
   <p class="flash_notice" id = 'notes' style = "margin-top: 5px"><%= notice %></p>
<% end %>
	   <h4 style="font-family: tahoma; font-weight: bolder; font-size: 34px" >Welcome to SedyWeb Electronic Voting System </h4>   
	    <div class="row">
		    <div class="col-md-4 col-sm-12">  </div>
		    <div class="col-md-4 col-sm-12">
		    	<marquee behavior="slide"><img src="/assets/ballotbox.png"  class="img-responsive"/> </marquee>
		    </div>
		    <div class="col-md-4 col-sm-12"> </div>
	   </div>
	    <br />
       <h4>Please tell us who you are!</h4>
       <p style="text-align: center">
           <%= link_to "Voter",  voter_page_path, class: "w3-button w3-sand w3-round-xxlarge w3-hover-sand w3-card" %> 
       	   <%= link_to "Official", new_user_session_path, class: "w3-button w3-khaki w3-round-xxlarge w3-hover-khaki w3-card" %>
       </p>
	</div>
	<div class="col-md-2 col-sm-12"></div>
	
		
</div>

 